.aw-border {
  border: 2px solid;
}

.aw-border-red { border-color: red; }
.aw-border-blue { border-color: blue; }
.aw-border-green { border-color: green; }
.aw-border-orange { border-color: orange; }

